.card{
    background-color: #eeeeee;
}

.btn{
    background: #fd0d55;
    border-color: #fd0d55;
}

.titulo{
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #FD0D55;
}

.menutexto{
    color: black;
}

.principal{
    padding-top: 2rem;
}

.imagicon{
    width: 30;
    height: 30;
    padding-right: 1rem;
}

.espacamento {
    margin-bottom: 2rem;
}

.espacamentoimagem{
    padding: 1rem;
}

.rodape{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #FD0D55;
    display: flex;
    justify-content: space-between;
    color: white;
}